@charset "UTF-8";
/* 1200px */
@media screen and (min-width: 1200px) {
  h1 {
    background-color: #40A2E3;
    padding: 50px;
  }
  h2 {
    display: none;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}