@charset "utf-8";
html{
    scroll-behavior: smooth;
}

/* 
system-ui: 운영체제의 기본 서체
-apple-system: mac, ios
BlinkMacsystemFont: chrom 등 블링크 렌더링 엔진을 사용하는 브라우저
Segoe UI: window

vedor prefix
확정되지 않은 기능을 개발자가 미리 사용할 수 있게 만들어 놓은 약속어
브라우저에 내장된 기능을 이 벤더(접두어)를 통해 사용하게 만듦
-m- IE
-webkit-크롬, 엣지, 웨일
-o- 오페라
-moz 파이어 폭스
*/

/* 스크롤 가로 크기 */
body::-webkit-scrollbar{
    width: 8px;
}

body{
    font-family: 'SpoqaHanSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}

/* nav */
.gnb{
    position: fixed;
    top: 0;
    left: 0; right: 0;
    margin: auto;
    width: 50%;
    /* absolut, fixed 좌우 중앙 정렬 */
    display: flex;
    justify-content: center;
    box-shadow:
  2.5px 1.4px 2.7px rgba(0, 0, 0, 0.022),
  6.3px 3.6px 6.9px rgba(0, 0, 0, 0.031),
  12.8px 7.3px 14px rgba(0, 0, 0, 0.039),
  26.3px 15px 28.8px rgba(0, 0, 0, 0.048),
  72px 41px 79px rgba(0, 0, 0, 0.07)
;
}
.gnb a{
    /* width: 25%; */
   display: block;

}
.gnb li{
    width: 25%;

}


li:nth-child(1) a, #box1 {background-color: #D20062;}
li:nth-child(2) a, #box2 {background-color: #D6589F;}
li:nth-child(3) a, #box3 {background-color: #D895DA;}
li:nth-child(4) a, #box4 {background-color: #C4E4FF;}
li:hover a {
    color: white;
}


/* box */
.box{
    font-size: 2rem;
    font-weight: 700;
    height: 100vh;
    padding-top: 100px;
    color: white;
}

