@charset "UTF-8";

@media (min-width:1200px) {
    body{
        font-size: 2ch;
        font-weight: 500;
    }
    nav .global-menu{
        grid-template-columns: repeat(5, minmax(100px,200px));
        justify-content: center;
    }
    nav .global-menu li a {
        border-right: 1px solid #c2d8cf;
        display: grid;
        place-items: center;
        border-bottom: none;
    }
    nav .global-menu li:last-child a{border-right: none;}
    nav .global-menu li a:hover{background-color: #0f533d; color: white;}
}