@charset "UTF-8";

@media screen and (min-width:1200px){
    body{text-align: center; margin: 0 auto;}
    
    /***** header *****/
    header{
     height: 80px;   
     position: fixed;
    
    }
    #logo img{
        position: absolute;
        left: 0;
        height: 80px;
        z-index: 999;
    }
    nav .menu_btn{display: none;}
    
    nav .menu{
        font-weight: bold;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        height: 80px;
        margin: 0; padding: 0;
    }
    nav .menu li{
        border: none;
        margin: 0; padding: 0;
        line-height: 80px;
        display: block;

    }
    .menu li a{
        display: block; 
        padding: 0 20px;
    }
    .menu li a:hover{background-color: rgb(81, 138, 177); color: #fff;}
  

    /****** main ******/
    /* <section class="top"> */
    section .main_top{
    display: flex;
    background: url(./assets/images/hero-bg.png) 80%;    
    }

  
    section .main_top p{
        position: absolute;
        top: 200px;
        left: 100px;
    }

    section .main_top h2{
        text-align: left;
        font-weight: lighter;
        font-size: 5rem;
        position: absolute;
        top: 200px;
        left: 100px;
    }

    section .bg_img{
        display: block;
        width: 100%;
        justify-content: center;
    }
    section .bg_img img{
        width: 100%;
        transform: translateX(500px);
    }
    section ul{
        width: 100%;
        justify-content: space-between; 
        margin: 20% 0;
        padding: 0 20px;
    }

    /* <section class="txt-block"> */
    section .container{width: 100%; padding: 60px; margin: 0 auto; max-width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    section .container p{margin: 0 auto; padding: 0;}
    .box3{border-bottom: none;}
    .box2, .box4{border-left: 1px solid #ddd;}


    /* <section class="portfolio "> */
    .portfolio_block{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0; padding: 0;
    }

    .portfolio_img.img1{grid-column: 1/3; grid-row: 1/3;}
    .portfolio_img.img2{grid-column: 3/4; grid-row: 1/2;}
    .portfolio_img.img3{grid-column: 4/5; grid-row: 1/2;}
    .portfolio_img.img4{grid-column: 3/5; grid-row: 2/3;}
    .portfolio_img.img5{grid-column: 3/5; grid-row: 3/4;}
    .portfolio_img.img6{grid-column: 1/2; grid-row: 3/4;}
    .portfolio_img.img7{grid-column: 2/3; grid-row: 3/4;}
   
    /* <section class="ourbusiness"> */
    section .ourbusiness_title h3{
        margin: 20px 0;
        font-size: 4rem;
    }
    section .ourbusiness_title p{
        line-height: 2;
        padding-bottom: 25px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 100;
    }

   .ourbusiness_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }
    section .ourbusinessblock img{
        width: 100%;
        padding: 10px;
    }


    .ourbusiness_txtbox p{
        text-align: center;
        margin: 0 auto;
        line-height: 2;
        padding-bottom: 25px;
        width: 80%;
        font-size: 1.2rem;
    }
    .ourbusiness_txtbox h5{
        margin-top: 20px;
        font-size: 1.5rem;
    }

    /* <section class="ouryoutube"> */
    .ouryoutube_title{display: flex;
    padding: 20px;}
    .ouryoutube_title h3{
        font-size: 4rem;
        width: 40vw;
    }
    .ouryoutube_title p{
        padding: 50px;
        width: 60vw; 
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 1.5;

    }
    section iframe{
        width: 80%;
    }

    /* ourservice */
    .ourservice{
        margin: 50px auto;
    }

    .ourservice h3{
        margin: 20px 0 50px;
        font-size: 4rem;
    }

    .ourservice h5, p{
       text-align: left;
       margin: 20px 50px;
       line-height: 1.7;
    }
    .ourservice h5{
        font-size: 1.2rem;
     }
    
    .ourservice_block{
        display: flex;
    }
    .ourservice_imgs img{
        width: 100%;
        margin: 0 auto;
    }
    .ourservice_imgs:nth-child(2){display: block;}
    .ourservice_imgs:nth-child(3){display: block;}
    .ourservice_imgs:nth-child(4){display: block;}

    .ourservice_imgs{
        margin: 0 auto;
        width: 20%;
        box-shadow: 10px 30px 37px -23px rgba(165, 165, 165, 0.479);
        padding-bottom: 40px;
    }


    /* <section class="location"> */
    .location{
        margin: 100px 0;
        font-size: 1.5rem;
    }
    .location h3{
        font-size: 4rem;
        margin: 100px 0;
    }
    .location_nav{
        font-size: 2rem;
    }
    .location .location-kakao #map{
        margin: 20px auto;
        aspect-ratio: 3 / 1;
    }

    /*  <section class="contactus"> */
    section.contactus{
        width: 100%; max-height: 50vh;
        background: url(./assets/images/img-bg.jpg) 30% fixed;
        text-align: center;
    }
    .contactus .bg_box{
        background: rgba(30, 203, 255, 0.349);
        max-height: 50vh;
    }
    .contactus .contactus_btn{
        width: 20%;
        margin: 30px auto;
    }

    /****** footer ******/
    footer .footerinfo{display: flex; width: 100%; margin: 0 auto; justify-content: space-evenly;}
    footer .footerlogo{margin: 60px 60px; }
    footer .info{text-align: left; right: 0;}
    footer .info1, .info2, .info3{
        width: 20%;
        display: block;
        justify-content: space-evenly;
    }

    footer .copyrights{
        height: 20vh;
    }

}